header.skin-freo-siteheader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.skin-freo-searchform {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}

	.skin-freo-menu {
		margin: 0.1em;
	}

	.skin-freo-user-site-menus {
		align-self: flex-end;
	}
}

h1.skin-freo-title {
	text-align: center;
	font-size: 1.4em;
}

main {
	margin: 0 5px;
}

.mw-editsection a {
	margin-left: 0;
	display: block;
	text-align: right;
	border: 1px solid #ccc;
	padding: 0.3em;

	&:last-of-type {
		border-top: 0;
	}
}

.skin-freo-associated-pages {
	overflow-x: scroll;
}
