body,
main {
	max-width: none;
}

header.skin-freo-siteheader,
.skin-freo-menu-actions,
.noprint {
	display: none;
}

.skin-freo-sitefooter {
	border-top: 1px solid #000;
	font-size: smaller;
	background-color: #fff;
	color: #000;
	padding: 1em 0 0 0;
}
